@charset "utf-8";

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";

body {
    color: #323232;
    background-color: #5d5d5d;
}

.title {
    color: #fff;
}

$main-outer: 15px;
$image-width: 95%;
$element-space: 2%;
$top-image-width: 95%;

$group1-color: #7B61FF;
$group2-color: #FF748E;

main {
    padding-left: $main-outer;
    padding-right: $main-outer;
    padding-bottom: $main-outer;
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;

}

.container {
    flex-grow: 1;
    width: auto;
}

.columns {
    margin-right: -5px;
    margin-left: -5px;
}

.column {
    padding: 5px;
}

.card {
    // width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10% 12% 15%;
    font-size: 3vw;
    border: 0;
    box-shadow: none;
    color: #323232;
    border-radius: 0;
    background-color: transparent;

    .is-cover {
        width: $image-width;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    figure {
        margin-bottom: $element-space;
    }

    button {
        border-radius: 0;
        background-color: $group1-color;
        color: #fff;
        font-size: 1.7em;
        font-weight: bold;
        padding-top: 3.6%;
        padding-bottom: 3.6%;
        height: auto;
        &:hover {
            color: #fff;
            background-color: darken($group1-color,10);
        }
    }
    &.card-2 {
        button {
            background-color: $group2-color;
            &:hover {
                color: #fff;
                background-color: darken($group2-color,10);
            }
        }
        .votes {
            strong {
                color: $group2-color;
            }
        }
    }
}

.contestants-number {
    display: block;
    width: $image-width;
    color: #fff;
    padding: 0.2%;
    background-color: rgba(#323232,0.6);
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-line-clamp:1;
    text-overflow: ellipsis;
    -webkit-box-orient:vertical;
    overflow: hidden;
}
.contestants-name {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: $element-space;
    max-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp:1;
    text-overflow: ellipsis;
    -webkit-box-orient:vertical;
    overflow: hidden;
}

.votes {
    margin-bottom: $element-space;
    strong {
        font-size: 1.7em;
        color: $group1-color;
        font-weight: bold;
    }
}

.top-card {
    .card {
        transition: 0.3s all ease-in-out;
        padding: 25% 8% 15%;
        background-position: top;
        &:hover {
            transform: translate(-2%,-2%);
        }
    }
    figure {
        // margin-top: 12%;
        margin-bottom: 0;
    }
    .is-cover {
        width: $top-image-width;
    }
    .contestants-number {
        width: $top-image-width;
        margin-bottom: 2%;
    }
    .contestants-name {
        font-size: 1.6em;
        min-height: 1.5em;
        margin-bottom: 0;
    }
    .votes {
        margin-bottom: 0;
        text-align: right;
        strong {
            font-size: 2em;
        }
    }
    
    .is-4 {
        .card {
            padding: 20% 12% 13%;
        }
        .votes {
            strong {
                font-size: 1.2em;
            }
        }
        .contestants-name {
            font-size: 1em;
        }
    }
}



@include tablet {
    .column {
        padding: 10px;
    }
    .columns {
        margin-right: -10px;
        margin-left: -10px;
    }
    .card {
        font-size: 16px;
        button {
            font-size: 1.125rem;
        }
    }
    .top-card {
        .card {
            padding: 20% 10% 18%;
            font-size: 130%;
        }
        .is-4 {
            .card {
                padding: 20% 15% 18%;
            }
        }
    }
    .top-section2 {
        max-width: 700px;
        margin: 0 auto;
    }

}