@charset "utf-8";

@import "bulma/utilities/_all.sass";
@import "bulma/base/_all.sass";
@import "bulma/elements/_all.sass";
@import "bulma/components/_all.sass";
@import "bulma/grid/_all.sass";
@import "bulma/layout/_all.sass";

body {
    color: #323232;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

.columns {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 30px;
}

.column {
    padding: 15px;
}

.card {
    // width: 50%;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        display: inline-block;
    }
    .is-cover {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
}