.jScr{
  margin-top:64px;
}
#headbox {
  position: fixed;
  height: 64px;
  width: 100%;
  min-width: 1210px;
  z-index: 5000;
  top: 0;
  background-color: #fff;
  padding:0;
}
#headbox:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #393f4e;
  width: 100%;
  height: 64px;
}
.head_menu_2 {
  position: relative;
  height: 63px;
  border-bottom: 1px solid #343947;
  background-color: #393f4e;
}
.logobtn_new {
  display: block;
  background: #ff6706 url(../images/EZprice-logo.jpg) center no-repeat;
  height: 64px;
  width: 220px;
}
.search_text {
  float: left;
  width: 450px;
  height: 35px;
  vertical-align: middle;
  border: none;
  padding-left: 8px;
  padding-right: 28px;
  margin-right: 1px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  width: 214px \9;
  margin-right: 5px \9;
  height: 25px \9;
  padding-top: 8px \9;
}
.search_text:focus {
  box-shadow: 0 0 1px 1px #ff6706;
}
.search_text_suggestion {
  display: none;
  position: absolute;
  top: 48px;
  left: 11px;
  background-color: #fff;
  border: 1px solid #393f4e;
  z-index: 150;
  overflow: hidden;
}
.search_text_suggestion #dropdown li ul {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f8f8f8;
  border-left: 1px solid #ebebeb;
  z-index: 100;
  padding: 50px 0;
}
.search_text_suggestion #dropdown li ul h3 {
  display: inline-block;
  padding: 0 0 10px 15px;
  margin: 0;
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
.search_text_suggestion #dropdown li.tag_group ul {
  display: block;
  position: relative;
  width: 88%;
  height: 100%;
  background-color: #f8f8f8;
  border-left: none;
  z-index: 100;
  padding: 0px 15px;
}
.search_text_suggestion #dropdown li.tag_group ul li {
  float: left;
  margin: 0 5px 5px 0;
}
.search_text_suggestion #dropdown li.tag_group ul li a.tag_link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  border: 1px solid #cdcdcd;
}
.search_text_suggestion #dropdown li.tag_group ul li a.tag_link:hover {
  background-color: #ff752b;
  border: 1px solid #ff752b;
  color: #fff;
  text-decoration: none;
}
.search_text_suggestion .suggestion {
  display: block;
  position: relative;
  width: 479px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 8px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  background-color: #fff;
}
.search_text_suggestion .suggestion:hover {
  background-color: #eee;
}
.search_text_suggestion .active {
  background-color: #eee;
}
.search_text_suggestion .fa-arrow-position {
  position: absolute;
  top: 9px;
  margin-left: 10px;
  color: #b1b1b1;
  font-weight: bold;
}
.search_text_suggestion .fa-arrow-position-hover {
  right: 255px;
}
.search_text_suggestion .input {
  color: #ff6706;
}
.search_text_suggestion .suggest {
  color: #333;
}
.search_text_suggestion li.ez_ad_border {
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px dotted #e2e2e2;
}
.search_text_suggestion .ez_ad {
  background-color: #fff7ec;
}