{
  "name": "testWebsite",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "css/bulma.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/style.sass",
      "imports": [
        "css/sass/utilities/_all.sass",
        "css/sass/base/_all.sass",
        "css/sass/elements/title.sass",
        "css/sass/components/_all.sass",
        "css/sass/grid/_all.sass",
        "css/sass/layout/_all.sass",
        "css/_snow.scss",
        "css/sass/utilities/initial-variables.sass",
        "css/sass/utilities/functions.sass",
        "css/sass/utilities/derived-variables.sass",
        "css/sass/utilities/animations.sass",
        "css/sass/utilities/mixins.sass",
        "css/sass/utilities/controls.sass",
        "css/sass/base/minireset.sass",
        "css/sass/base/generic.sass",
        "css/sass/base/helpers.sass",
        "css/sass/components/breadcrumb.sass",
        "css/sass/components/card.sass",
        "css/sass/components/dropdown.sass",
        "css/sass/components/level.sass",
        "css/sass/components/list.sass",
        "css/sass/components/media.sass",
        "css/sass/components/menu.sass",
        "css/sass/components/message.sass",
        "css/sass/components/modal.sass",
        "css/sass/components/navbar.sass",
        "css/sass/components/pagination.sass",
        "css/sass/components/panel.sass",
        "css/sass/components/tabs.sass",
        "css/sass/grid/columns.sass",
        "css/sass/grid/tiles.sass",
        "css/sass/layout/hero.sass",
        "css/sass/layout/section.sass",
        "css/sass/layout/footer.sass"
      ]
    },
    {
      "path": "css/sass/base/_all.sass",
      "imports": [
        "css/sass/base/minireset.sass",
        "css/sass/base/generic.sass",
        "css/sass/base/helpers.sass"
      ]
    },
    {
      "path": "css/sass/components/_all.sass",
      "imports": [
        "css/sass/components/breadcrumb.sass",
        "css/sass/components/card.sass",
        "css/sass/components/dropdown.sass",
        "css/sass/components/level.sass",
        "css/sass/components/list.sass",
        "css/sass/components/media.sass",
        "css/sass/components/menu.sass",
        "css/sass/components/message.sass",
        "css/sass/components/modal.sass",
        "css/sass/components/navbar.sass",
        "css/sass/components/pagination.sass",
        "css/sass/components/panel.sass",
        "css/sass/components/tabs.sass"
      ]
    },
    {
      "path": "css/sass/elements/_all.sass",
      "imports": [
        "css/sass/elements/box.sass",
        "css/sass/elements/button.sass",
        "css/sass/elements/container.sass",
        "css/sass/elements/content.sass",
        "css/sass/elements/form.sass",
        "css/sass/elements/icon.sass",
        "css/sass/elements/image.sass",
        "css/sass/elements/notification.sass",
        "css/sass/elements/progress.sass",
        "css/sass/elements/table.sass",
        "css/sass/elements/tag.sass",
        "css/sass/elements/title.sass",
        "css/sass/elements/other.sass"
      ]
    },
    {
      "path": "css/sass/grid/_all.sass",
      "imports": [
        "css/sass/grid/columns.sass",
        "css/sass/grid/tiles.sass"
      ]
    },
    {
      "path": "css/sass/layout/_all.sass",
      "imports": [
        "css/sass/layout/hero.sass",
        "css/sass/layout/section.sass",
        "css/sass/layout/footer.sass"
      ]
    },
    {
      "path": "css/sass/utilities/_all.sass",
      "imports": [
        "css/sass/utilities/initial-variables.sass",
        "css/sass/utilities/functions.sass",
        "css/sass/utilities/derived-variables.sass",
        "css/sass/utilities/animations.sass",
        "css/sass/utilities/mixins.sass",
        "css/sass/utilities/controls.sass"
      ]
    },
    {
      "path": "css/sass/utilities/mixins.sass",
      "imports": [
        "css/sass/utilities/initial-variables.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}