@charset "utf-8";.sugserbox{border-top-width:1px;border-top-style:solid;border-top-color:#c0c0c0;height:40px;padding-top:5px;padding-bottom:10px;}
.sug_tr{background-color:#ffffcd;height:40px;border:1px solid #e6d293;border-radius:3px;font-size:13px;color:#666666;line-height:40px;padding-left:15px;}
.sug_tr span{font-size:13px;font-weight:bold;color:#ff8400;}
.serfltrbox{padding-bottom:10px;}
.fltr_tag{}
.fltr_contentbox{border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#cbcbcb;border-bottom-color:#cbcbcb;border-left-color:#cbcbcb;}
.fltrcontent{padding:10px;}
.fltrtxt_tr_top{font-size:12px;color:#666666;padding-bottom:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e1e2e3;padding-top:10px;padding-left:5px;padding-right:10px;}
.fltrtxt_tr_top .chara_L{float:left;}
.fltrtxt_tr_top .chara_L p{font-size:12px;color:#666666;float:left;display:block;width:140px;line-height:12px;}
.fltrtxt_tr_top .chara_L .select_contrbox{float:left;font-size:12px;color:#ff8400;padding-right:30px;line-height:12px;}
.fltrtxt_tr_top .chara_L .select_contrbox a{float:left;font-size:12px;color:#ff8400;text-decoration:none;line-height:12px;}
.fltrtxt_tr_top .chara_L .select_contrbox a:hover{float:left;font-size:12px;color:#ff8400;text-decoration:none;line-height:12px;}
.fltrtxt_tr_top .chara_L .select_contrbox span{padding-left:5px;}
.fltrtxt_tr_top .chara_R{float:right;font-size:12px;color:#666666;width:55px;}
.fltrtxt_tr_top .chara_R a{float:right;font-size:12px;color:#666666;text-decoration:none;}
.fltrtxt_tr_top .chara_R a:hover{text-decoration:none;color:#999999;}
.fltrtxt_tr_show{}
.fltrtxt_tr_show .show_txt{font-size:12px;color:#000000;padding-top:10px;padding-left:20px;padding-right:10px;padding-bottom:10px;}
.fltrtxt_tr_show .show_txt a{font-size:12px;color:#000000;text-decoration:none;}
.fltrtxt_tr_show .show_txt a:hover{text-decoration:underline;}
@charset "utf-8";.cate_fltrbox{padding-bottom:10px;}
.cate_fltr_tag{}
.cate_fltr_contentbox{border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-color:#cbcbcb;border-bottom-color:#cbcbcb;border-left-color:#cbcbcb;}
.cate_fltrcontent{padding-bottom:5px;}
.cate_fltrtxt_tr_top{font-size:12px;color:#666666;padding-bottom:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#e1e2e3;padding-top:10px;padding-left:10px;padding-right:10px;}
.cate_fltrtxt_tr_show{}
.cate_fltr_contentbox .casrch_navi{height:15px;}
.cate_fltr_contentbox .casrch_navi ul{}
.cate_fltr_contentbox .casrch_navi li.txtallcat{float:left;font-size:12px;color:#666666;background-image:url(http://ezprice.com.tw/images/icon_casrch_arrow.gif);background-repeat:no-repeat;background-position:right center;padding-right:10px;}
.cate_fltr_contentbox .casrch_navi li.txtsubcat{float:left;background-image:url(http://ezprice.com.tw/images/icon_casrch_arrow.gif);background-repeat:no-repeat;background-position:right center;padding-right:10px;padding-left:5px;font-size:12px;color:#333333;}
.cate_fltr_contentbox .casrch_navi li.txtsubcat a{font-size:12px;font-weight:bold;color:#333333;text-decoration:none;}
.cate_fltr_contentbox .casrch_navi li.txtsubcat a:hover{text-decoration:underline;}
.cate_fltr_contentbox .cate_listbox{padding-top:15px;padding-left:10px;}
.cate_fltr_contentbox .cate_listbox ul{}
.cate_fltr_contentbox .cate_listbox li.catelist{font-size:12px;color:#999999;background-image:url(http://ezprice.com.tw/images/icon_cate_list.gif);background-repeat:no-repeat;background-position:left 7px;padding-left:10px;width:240px;padding-bottom:10px;display:block;float:left;}
.cate_fltr_contentbox .cate_listbox li.catelist a{font-size:12px;color:#000000;text-decoration:none;}
.cate_fltr_contentbox .cate_listbox li.catelist a:hover{text-decoration:underline;}
.cate_fltr_contentbox .open_tips{float:right;background-image:url(http://ezprice.com.tw/images/BG_opcate.gif);background-repeat:no-repeat;background-position:left top;height:24px;width:105px;font-size:12px;color:#4d4d4d;line-height:24px;padding-left:5px;}
.cate_fltr_contentbox .open_tips a{height:24px;width:110px;text-align:center;font-size:12px;color:#4d4d4d;text-decoration:none;line-height:24px;display:block;}
.cate_fltr_contentbox .open_tips a:hover{text-decoration:underline;}
.cate_fltr_contentbox .open_tips img{padding-left:5px;}
.cate_fltr_contentbox .close_tips{float:right;background-image:url(http://ezprice.com.tw/images/BG_opcate.gif);background-repeat:no-repeat;background-position:left top;height:24px;width:105px;font-size:12px;color:#4d4d4d;line-height:24px;padding-left:5px;}
.cate_fltr_contentbox .close_tips a{height:24px;width:110px;text-align:center;font-size:12px;color:#4d4d4d;text-decoration:none;line-height:24px;display:block;}
.cate_fltr_contentbox .close_tips a:hover{text-decoration:underline;}
.cate_fltr_contentbox .close_tips img{padding-left:5px;}