@charset "utf-8";
/* CSS Document */

/* ==== 頭部修改 ==== */

#headbox {
	min-width: initial;
}

.search_text {
	width: auto;
}

.hot_more_list {
	width: auto;
}
@media (max-width: 850px) {
	.head_menu .hot_list {
		display: none;
	}
}


/* ==== 底部修改 ==== */

div.more_product {
	min-width: initial;
}

.more_product .fixwight {
	display: none;
} 

/* ==== 版面修改 ==== */

.more-less {
	margin: 8px;
	margin-bottom: 0px;
}

.tags-off {
	font-size: 14px;
	color: #4d4d4d !important;
	padding-right: 10px;
	word-wrap: break-word;
}

.tags-on:hover {
	text-decoration:none;
}

.tags-on {
	display: inline-block;
	font-size: 14px;
	color: #ff6706 !important;
	padding-right: 10px;
	word-wrap:break-word;
}

.page_content_L_column .pgevt_contlistbox ul.model {
	float: right;
	margin: 10px 0;
	padding-left: 0px;
	display: flex; 
	display: -webkit-flex; 
}

 .model li.pandt, .model li.pic {
	float: left;
	margin-left: 5px;
}

ul.tags_box li {
	display: inline-block;
	margin-bottom: 10px;
}

.page_content_L_column .pgevt_menubox li.pgevtstate_on {
	width: auto;
}

.page_content_L_column .pgevt_menubox li.pgevtstate_on a {
	width: initial;
	/* height: auto; */
	padding: 0 30px;
}

.page_content_L_column .pgevt_menubox li.pgevtstate_off {
	width: auto;
	/* border-bottom: 1px solid #d1d3d4; */
}

.page_content_L_column .pgevt_menubox li.pgevtstate_off a {
	width: auto;
	height: auto;
	padding:0 30px;
}

.page_content_L_column .pgevt_titlebox .pgevt_title {
	height: 43px;
	background-image: url(../img/baby_title_tag.png);
}

.page_content_L_column .pgevt_titlebox .pgevt_menubox {
	height: auto;
}

.page_content_L_column .pgevt_titlebox .mb_menubox {
	display: none;
}


@media (max-width: 480px) {
	.page_content_L_column .pgevt_titlebox .pgevt_title {
	    background-position: center left;
	}
	.page_content_L_column .pgevt_titlebox .pgevt_menubox {
		display: none;
	}

	.page_content_L_column .pgevt_titlebox .mb_menubox {
		display: block;
		margin: 0 auto;
	}

	.page_content_L_column .pgevt_titlebox .mb_menubox li {
		width: 24%;
		float: left;
		background: #eee;
		text-align: center;
		border-top: 2px solid #626262;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		vertical-align: middle;
		padding: 5px 0px;
	}

	.page_content_L_column .pgevt_titlebox .mb_menubox li a {
		display: block;
		width: 100%;
		color: #7A808D;
		font-weight: bold;
		font-size: 1.3em;
	}
	.page_content_L_column .pgevt_titlebox .mb_menubox li.pgevtstate_on {
		background: #7A808D;
	}
	.page_content_L_column .pgevt_titlebox .mb_menubox li.pgevtstate_on a {
		color: #FFF;
	}
	.page_content_L_column .pgevt_titlebox .mb_menubox li:first-child {
		border-left: 1px solid #ccc;
	}
	.page_content_L_column .pgevt_titlebox {
		padding-bottom: 5px;
	}
	.page_area a.current {
		padding: 3px 5px;
	}
}

.pgevt_contlistbox .describebox {
	font-size: 20px;
	margin: 0px 5px;
	max-width: 100%;
}

.pgevt_contlistbox .post-botton {
	float: left;
	display: block;
	text-align: center;
	line-height: 30px;
	border-radius: 8px;
	background: rgb(255, 103, 6) none repeat scroll 0% 0%;
	font-size: 14px;
	color: white;
	cursor: pointer;
	padding: 3px 25px;
	margin-right: 5px;
	margin-top: 3px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.pgevt_contlistbox .post-botton:hover {
	text-decoration: none;
	opacity: .8;
	box-shadow: 0 4px 0 #A5470B;
	margin-top: -1px;
}
.pgevt_contlistbox h1 {padding-bottom: 10px;display: block;float: left;font-size: 16px;}

@media (max-width: 768px) {
	.page_contentbox {
		padding-top: 10px;
	}
}
/* ==== table ==== */

.css-table{
	display: table;
	display: none;
	width: 100%;
	margin-bottom: 0px;
}
.css-table .thead{
	display:table-header-group;
}
.css-table .tbody{
	display:table-row-group;
}
.css-table .tr,.css-table .tr2{
	display:table-row;
	/* border-bottom: #ddd 1px solid; */
}
.css-table .th,
.css-table .td{
	display:table-cell;
}

.css-table .th {
    background-color: #eeeeee;
    color: #000;
    font-size: 14px;
    border-bottom: #c1c5c7 2px solid;
    border-right: #c1c5c7 1px solid;
    text-align: center;
    padding: 10px;
}

.css-table .th:last-child,.css-table .td:last-child {
	border-right: #FFFFFF 1px solid;
} 

.css-table .td {
    padding: 10px;
    border-right: #c1c5c7 1px  solid;
    border-bottom: #c1c5c7 1px solid;
    text-align: center;
}

.css-table .tr2 {
	background-color: #f6f6f6;
}

.css-table .tr:hover,.css-table .tr2:hover {
	background-color: #fff0e6 !important;
}

.css-table .title {
	text-align: left;
}

.css-table .response, .css-table .popularity {
	color: red;
}

.css-table .titletd {
	display: none;
}

.css-table .td img {
	display: none;
}

@media only screen and (max-width: 480px) {
	.css-table{
		background-color: transparent;
		margin-bottom: 30px;
	}
	.css-table .thead{
		display: none;
	}
	.css-table .tr,
	.css-table .tr2{
		display: block;
		/* border: #ddd 1px solid; */
		/* margin-bottom: 10px; */
		background: #ffffff;
		position: relative;
		border-bottom: #ddd 1px solid;
		padding: 6px 0px 5px 5px;
	}
	.css-table .tr {
		background: #eee;
	}
	.css-table .th,
	.css-table .td{
		display: inline-block;
		/* width: 51.7%; */
		border: none;
		/* border-bottom: 1px solid #eee; */
		text-align: left;
		padding: 0px 3px;
	}
	.css-table .titletd {
		display:inline-block;
		width: 33%;
		padding: 10px;
		border-bottom: 1px solid #eee;
		font-weight: bold;
	}
	.css-table .th:last-child, 
	.css-table .td:last-child,
	.css-table .titletd:last-child{
    	border-right: none;
    	border-bottom: none;
	}
	.css-table .title {
		font-size: 16px;
		/* position: absolute; */
		display: block;
		/* top: 0; */
		/* left: 0; */
		/* float: left; */
		margin-top: 3px;
	}
	.css-table .tags {
		/* position: absolute; */
		left: 0;
		bottom: 0;
		display: inline;
		line-height: 13px;
	}
	.css-table .user {/* margin-left: 30%; */}
	.css-table .date {
		/* margin-left: 5px; */
	}
	.css-table .td img {
		display: inherit;
		margin-right: 5px;
	}
	.css-table .response, .css-table .popularity {
		color: #666666;
	}
	.css-table .title span.list-item {
		display: inline-block;
		width: 5px;
		height: 5px;
		background: #0f66c0;
		margin: 3px;
		margin-right: 5px;
		border-radius: 50%;
	}
		
}

// @media only screen and (max-width: 720px) {
// 	.css-table .th,
// 	.css-table .td{
// 		display:block;
// 		width: 100%;
// 	}
// }
/* ==== 版面修改內頁 ==== */

.main-box .info-wrap .banner {
	text-align: center;
	width: 100%;
	margin: auto;
}

.main-box .info-wrap .banner img {
	height: auto;
	max-width: 100%;
}

@media (min-width: 1024px) {
  .main-box .info-wrap .banner img {
    width: auto;
    height: 400px;
  }
}

.main-box .info-wrap {
	padding: 10px 30px 40px 30px;
}

.main-box .info-wrap .activity-dsc {
	color: #999;
    margin-top: 5px;
    max-width: 100%;
    overflow: hidden;
}

.main-box .info-wrap .activity-dsc .tagBox {
	float: left;
}

.main-box .info-wrap .activity-dsc .fbPluginBox {
	float: right;
	margin: 7px 0px;
	max-width: 100%;
}

ul li .evt-info {
	display: flex; display: -webkit-flex; 
}

.more-evt .evt-info img.banner {
	width: 72px;
}

ul li .evt-info .evt-textbox {
	display: inline;
    margin-left: 10px;
}

.more-evt .evt-info .coculate_box {
	font-size: 13px;
	color: #999;
}

.more-evt .evt-info .coculate_box span img {
	padding-right: 5px;
	vertical-align: middle;
}

.ez-activity .main-box {
	width: 73.90837%;
	float: left;
	display: inline;
}

.participant a.user-photo div {

}

.participant a.user-photo div:hover {
	opacity: 0.8;
}

@media (max-width: 1024px) {
  .ez-activity .main-box {
    width: 66%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .ez-activity .main-box {
    width: 100%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .ez-activity .main-box {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }

  .main-box .activity-wrap .content {
  	margin: 0 20px;
  }
}

.ez-activity .side-box {
	margin: 0 !important;
    width: 24.49801%;
    float: left;
    margin-right: 1.59363%;
    display: inline;
    padding-right: 0;
}

.ez-activity .side-box:nth-child(1n) {
	float: right;
    margin-right: 0;
}

@media (max-width: 1024px) {
  .ez-activity .side-box {
    width: 32%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .ez-activity .side-box {
    width: 100%;
    float: left;
    margin-right: 2.68456%;
  }
}
@media (max-width: 480px) {
  .ez-activity .side-box {
    width: 100%;
    float: left;
    margin-right: 4.08163%;
  }
}

.ez-activity .upld-msg span input {
	width: 100%;
}

@media (max-width: 480px) {
	.main-box .activity-wrap .activity-box .upld-msg {
		padding: 0;
		background: #FFF;
	}
}



/* ==== 版面修改圖塊 ==== */

.page_content_L_column .pgevt_contlistbox ul li.pgevtlistbox {
	width: 31%;
	padding: 0 1.1%;
	padding-bottom: 2%;
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
	.page_content_L_column .pgevt_contlistbox ul li.pgevtlistbox {
    	width: 46%;
    	padding: 10px 1.9%;
  }
 	.page_content_L_column .pgevt_contlistbox ul {
		padding-left: 0px;
 	}
}

@media (max-width: 480px) {
	.page_content_L_column .pgevt_contlistbox ul li.pgevtlistbox {
    	width: 95%;
    	padding: 1.9%;
    	margin: 0 auto;
  }
 	.page_content_L_column .pgevt_contlistbox ul {
		padding-left: 0px;
 	}
}



.page_content_L_column .pgevtlist .pgevttop .pgevtad {
	/* position: absolute; */
	/* left: 50%; */
	/* top: 50%; */
	width: 100%;
	height: 14.325rem;
	text-align: center;
}

.page_content_L_column .pgevtlist .pgevttop .pgevttxt {
	height: auto;
	overflow: visible;
}

.page_content_L_column .pgevtlist .pgevttop {
	position: relative;
	height: 16.325rem;
	margin: 0 0 .625rem;
	overflow: hidden;
}

.page_content_L_column .pgevtlist .pgevttop .pgevtad a img {
	max-width: 90%;
	height: auto;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.page_content_L_column .pgevtlist .pgevttop {
		height: 17rem;
	}
 	.page_content_L_column .pgevt_contlistbox ul {
		padding-left: 0px;
		margin-bottom: 25px;
		}
 	.page_content_L_column .pgevtlist .pgevttop .pgevtad {
 		height: 14rem;
 	}
}

@media (max-width: 480px) {
	.page_content_L_column .pgevtlist .pgevttop {
		height: auto;
	}
 	.page_content_L_column .pgevtlist .pgevttop .pgevtad {
		height: auto;
 	}
 	.page_content_L_column .pgevtlist .pgevttop .pgevttxt a {
 		font-size: 1.5em;
 		padding: 0px;
 		line-height: 30px;
 	}
}



/* ==== 版面修改特別推薦 ==== */

.inmid_R_column {
	width: 100%;
	float: left;
}

.inmid_R_column .midR_menubox {
	height: auto;
	padding: 0px 10px 10px 0px;
}

/* ===== TABLE NEW ==== */

.product-table {
	width: 99.9%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.prodoct-table th{
    background-color: #1a1a1a;
    color: #ffffff;
    border: #1a1a1a 1px solid;
    text-align: center;
}

@media (max-width: 480px) {
	.product-table, 
	.product-table thead, 
	.product-table tbody, 
	.product-table th, 
	.product-table td, 
	.product-table tr {
    	display: block;
	}

	.product-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
ft: -9999px;